<html>
    <head>

        <link rel="stylesheet" href="/assets/css/index.css">
    </head>
    <body>
       <button class="submit"> <a href="/Auth/resetPassword">reset</a></button >
        <button class="submit"><a href="/Auth/logout"> LogOut</a></button>
    </body>
</html>